//COLORS

$color-primary: #b5838d;
$color-primary-light: #e5989b;
$color-primary-dark: #6d6875;

$color-yellow-light: #ffba08;
$color-yellow-dark: #f48c06;

$color-green-light: #a7c957;
$color-green-dark: #6a994e;

$color-blue-light: #48cae4;
$color-blue-dark: #0077b6;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT  
$default-font-size: 1.6rem;

//BORDER
$default-border-radius: 3px;
